.clj-kondo/
.DS_Store
.lsp/
.shadow-cljs/
dist/
node_modules/
target/
tmp/

website/css/chessboard2.css
website/examples/
website/js/chessboard2.js
website/js/chessboard2.mjs
website/build-report.html
website/docs.html
website/download.html
website/examples.html
website/index.html
website/license.html

*.diff
*.tgz
tests.js
