.clj-kondo/
.lsp/
.shadow-cljs/
00_scrap/
cypress/
data/
examples/
resources/
scripts/
src-cljs/
src-css/
target/
templates/
website/

*.diff
.editorconfig
cypress.config.js
shadow-cljs.edn
test-commonjs.js
tests.js
