{:source-paths ["src-cljs" "resources"]

 :dependencies
 [[camel-snake-kebab "0.4.3"]]

 :builds
 {:chessboard2
  {:target :browser
   :output-to "public/js"
   :modules {:chessboard2 {:entries [com.oakmac.chessboard2.core]}}}

  :node-tests
  {:target :node-test
   :output-to "tests.js"
   :autorun true}}}
