{:source-paths ["src-cljs" "resources"]

 :dependencies []

 :builds
 {:chessboard2
  {:target :browser
   :output-dir "target/"
   :modules {:chessboard2 {:entries [com.oakmac.chessboard2.core]}}}

  :node-tests
  {:target :node-test
   :output-to "tests.js"
   :autorun true}}}
