===== id
1000-empty-board

===== Name
Empty Board

===== Description
Chessboard2 initializes to an empty board with no second argument.

===== HTML
<div id="myBoard" style="width: 400px;"></div>

===== JS
const board = Chessboard2('myBoard')
