===== id
1001-start-position

===== Name
Start Position

===== Description
Pass <code class="js string">'start'</code> as the second argument to initialize
the board to the start position.

===== HTML
<div id="myBoard" style="width: 400px"></div>

===== JS
const board = Chessboard2('myBoard', 'start')
