===== id
1003-position-object

===== Name
Position Object

===== Description
Pass a <a href="docs.html#position_object">Position Object</a> as the second argument to initialize the board to a specific position.

===== HTML
<div id="myBoard" style="width: 400px"></div>

===== JS
const kingAndPawnEndgame = {
  d6: 'bK',
  d4: 'wP',
  e4: 'wK'
}
const board = Chessboard2('myBoard', kingAndPawnEndgame)
