===== id
2001-config-orientation

===== Name
Orientation

===== DescriptionMD

Use the [orientation](docs.html#config:orientation) property to set board orientation.

===== HTML
<div id="myBoard" style="width: 400px"></div>

===== JS
const config = {
  orientation: 'black',
  position: 'start'
}
const board = Chessboard2('myBoard', config)
