===== id
2001-config-orientation

===== Name
Orientation

===== Description
Use the <a href="docs.html#config:orientation"><code class="js plain">orientation</code></a> property to set board orientation.

===== HTML
<div id="myBoard" style="width: 400px"></div>

===== JS
const config = {
  orientation: 'black',
  position: 'start'
}
const board = Chessboard2('myBoard', config)
