===== id
2002-config-notation

===== Name
Notation

===== Description
Use the <a href="docs.html#config:showNotation"><code class="js plain">showNotation</code></a> property to turn board notation on or off.

===== HTML
<div id="myBoard" style="width: 400px"></div>

===== JS
const config = {
  showNotation: false,
  position: 'start'
}
const board = Chessboard2('myBoard', config)
