===== id
2003-draggable-snapback

===== Name
Draggable Snapback

===== DescriptionMD
Set [draggable](docs.html#config:draggable) to `true` to allow drag and drop of
pieces. Pieces will return to their original square when dropped off the board
(ie: the default for [dropOffBoard](docs.html#config:dropOffBoard) is
`"snapback"`).

===== HTML
<div id="myBoard" style="width: 400px"></div>

===== JS
const config = {
  draggable: true,
  dropOffBoard: 'snapback', // this is the default
  onDrop: logOnDrop,
  position: 'start'
}
const board = Chessboard2('myBoard', config)

function logOnDrop (dropInfo) {
  console.log('Piece was dropped:', dropInfo)
}
