===== id
2082

===== Name
Dragged Off Board: Remove

===== DescriptionMD
Set [`dropOffBoard`](docs.html#config:dropOffBoard) to `"remove"` to remove
pieces when they are dropped outside the board.

===== HTML
<div id="myBoard" style="width: 400px"></div>

===== JS
const config = {
  draggable: true,
  dropOffBoard: 'remove',
  position: 'start'
}
const board = Chessboard2('myBoard', config)
