===== id
3000

===== Name
Get Position

===== DescriptionMD

Use the [.position()], [.fen()], or [.getPosition()] methods to retrieve the
position of the board as either a JS Object, FEN String, or JS Map.

[.position()]:docs.html#methods:position
[.fen()]:docs.html#methods:fen
[.getPosition()]:docs.html#methods:getPosition

===== HTML
<div id="myBoard" style="width: 400px"></div>
<button id="showPositionBtn">show .position() in console</button>
<button id="showFenBtn">show .fen() in console</button>
<button id="showGetPositionBtn">show .getPosition() in console</button>

===== JS
const config = {
  draggable: true,
  position: 'start'
}
const board = Chessboard2('myBoard', config)

function clickPositionBtn () {
  console.log('Current position as an Object:')
  console.log(board.position())

  console.log('Current position as a Map:')
  console.log(board.position('map'))

  console.log('Current position as a FEN string:')
  console.log(board.position('fen'))
}

function clickFenBtn () {
  console.log('Current position as a FEN string:')
  console.log(board.fen())
}

function clickGetPositionBtn () {
  console.log('Current position as an Object:')
  console.log(board.getPosition())

  console.log('Current position as a Map:')
  console.log(board.getPosition('map'))

  console.log('Current position as a FEN string:')
  console.log(board.getPosition('fen'))
}

$('#showPositionBtn').on('click', clickPositionBtn)
$('#showFenBtn').on('click', clickFenBtn)
$('#showGetPositionBtn').on('click', clickGetPositionBtn)
