===== id
3003-clear

===== Name
Clear Board

===== DescriptionMD
Use the [clear()](docs.html#methods:clear) method to remove all pieces from the board.

===== HTML
<div id="myBoard" style="width: 400px"></div>

<button id="clearBoardBtn">Clear Board</button>
<button id="startPositionBtn">Start Position</button>
<button id="clearBoardInstantBtn">Clear Board Instant</button>
<br />
<button id="clearBoardCallbackBtn">Clear Board with Callback</button>
<button id="clearBoardAnimateSpeedBtn">Clear Board with Animate Speed</button>

===== JS
const board = Chessboard2('myBoard', 'start')

attachEvent('clearBoardBtn', 'click', () => {
  board.clear()
})

attachEvent('startPositionBtn', 'click', () => {
  board.start()
})

attachEvent('clearBoardInstantBtn', 'click', () => {
  // pass false to disable animations (ie: instant moves)
  board.clear(false)
})

attachEvent('clearBoardCallbackBtn', 'click', () => {
  // pass a function that will fire once the pieces have been removed
  board.clear((positionInfo) => {
    console.log('Board has been cleared:', positionInfo)
  })
})

attachEvent('clearBoardAnimateSpeedBtn', 'click', async () => {
  // pass a string or number to control animation speed
  // board.clear() also returns a Promise that resolves when the animations finish
  const positionInfo = await board.clear(2500)
  console.log('Board is clear:', positionInfo)
})
