===== id
3004

===== Name
Move Pieces

===== Description
Use the <a href="docs.html#methods:move"><code class="js plain">move</code></a> method to make one or more moves on the board.

===== HTML
<div id="myBoard" style="width: 400px"></div>
<button id="move1Btn">e2-e4</button>
<button id="move2Btn">d2-d4, g8-f6</button>
<button id="move3Btn">Move 3</button>
<button id="move4Btn">Move 4</button>
<button id="move5Btn">Move 5</button>
<button id="move6Btn">Move 6</button>
<button id="move7Btn">Move 7</button>
<button id="move8Btn">Move 8</button>
<button id="move9Btn">Move 9</button>
<button id="startPositionBtn">Start Position</button>

===== JS
var board = Chessboard2('myBoard', 'start')

$('#move1Btn').on('click', function () {
  board.move('e2-e4')
})

$('#move2Btn').on('click', function () {
  // pass multiple moves as arguments
  board.move('d2-d4', 'g8-f6')
})

$('#move3Btn').on('click', function () {
  board.move('c7-c5', 'slow')
  board.move('b7-b2', 5000)
})

$('#move4Btn').on('click', function () {
  // pass in false to disable animations
  board.move('d7-d5', false)
})

$('#move5Btn').on('click', function () {
  // pass a callback function that will fire when the animation of the move is complete
  board.move('g1-f3', function (move) {
    console.log('Animation finished for g1-f3:')
    console.log(move)
  })
})

$('#move6Btn').on('click', function () {
  // pass a config object
  board.move({
    animate: true,
    animateSpeedMs: 1000,
    from: 'd2',
    onComplete: (m) => { console.log('Move complete:', m) },
    to: 'd4'
  })
})

$('#move7Btn').on('click', function () {
  // move() returns a Promise object that fires when the animation has completed
  board.move('h2-h4').then((move) => {
    console.log('Animation has completed. Here is information about the move:')
    console.log(move)
  })
})

$('#move7Btn').on('click', function () {
  // multiple moves will return an Array of Promises
  Promise.all(board.move('h2-h4', 'h1-h3')).then((moves) => {
    console.log('Animations are complete:')
    console.log(moves)
  })
})

$('#move9Btn').on('click', function () {
  // the Promise object will reject if the move is invalid / not possible
  board.move('g6-f6').then((move) => {
    console.log('Animation has completed. Here is information about the move:')
    console.log(move)
  }).catch((err) => {
    console.log('Invalid move:')
    console.log(err)
  })
})

$('#startPositionBtn').on('click', board.start)
