===== id
3005-orientation

===== Name
Orientation

===== DescriptionMD
Use the [.orientation()](docs.html#methods:orientation) method to retrieve or set the orientation.

Use the [.flip()](docs.html#methods:flip) method to flip the orientation.

===== HTML
<div id="myBoard" style="width: 400px"></div>

<button id="flipOrientationBtn">Flip orientation</button>
<button id="whiteOrientationBtn">White orientation</button>
<button id="blackOrientationBtn">Black orientation</button>
<br />
<button id="showOrientationBtn">Show orientation in console</button>

===== JS
const ruyLopez = 'r1bqkbnr/pppp1ppp/2n5/1B2p3/4P3/5N2/PPPP1PPP/RNBQK2R'
const board = Chessboard2('myBoard', ruyLopez)
board.addArrow('a7-a6', 'small')
board.addCircle('a4')

attachEvent('flipOrientationBtn', 'click', function () {
  const newOrientation = board.flip()
  console.log('New board orientation is:', newOrientation)
})

attachEvent('whiteOrientationBtn', 'click', function () {
  const newOrientation = board.orientation('white')
  console.log('New board orientation is:', newOrientation)
})

attachEvent('blackOrientationBtn', 'click', function () {
  const newOrientation = board.orientation('black')
  console.log('New board orientation is:', newOrientation)
})

attachEvent('showOrientationBtn', 'click', function () {
  console.log('Current board orientation is:', board.orientation())
})
