===== id
3008

===== Name
Analysis Arrows

===== Description
TODO: write me :)

===== HTML
<div id="myBoard"></div>
<button id="addArrow1Btn">Add Arrow at e2-e4</button>
<button id="addArrow2Btn">Add Arrow c7-c5</button>
<button id="addArrow3Btn">Add Arrow d7-d5</button>
<button id="addArrow4Btn">Add Arrow 4</button>
<button id="moveArrow4Btn">Move Arrow 4</button>
<br />
<button id="addArrow5Btn">Add Arrow g1-f3</button>
<button id="removeArrow5Btn">Remove Arrow 5</button>
<button id="logArrowsBtn">console.log Arrows</button>
<button id="clearArrowsBtn">Clear Arrows</button>

===== JS
const board = Chessboard2('myBoard', 'start')
let arrow1Id = null
let arrow2Id = null
let arrow3Id = null

attachEvent('addArrow1Btn', 'click', () => {
  arrow1Id = board.addArrow('e2-e4')
  console.log('added Arrow 1 with id:', arrow1Id)
})

attachEvent('addArrow2Btn', 'click', () => {
  arrow2Id = board.addArrow('c7-c5', '#ffee66', 'small')
  console.log('added "small" Arrow 2 with id:', arrow2Id)
})

attachEvent('addArrow3Btn', 'click', () => {
  arrow3Id = board.addArrow('d7-d5', '#66eeff', 'medium')
  console.log('added "medium" Arrow 3 with id:', arrow3Id)
})

attachEvent('addArrow4Btn', 'click', () => {
  arrow4Id = board.addArrow('e7-e5', '#aaff22', 'large')
  console.log('added "large" Arrow 4 with id:', arrow4Id)
})

attachEvent('moveArrow4Btn', 'click', () => {
  board.moveArrow(arrow4Id, 'g8-f6')
  console.log('move Arrow 4 with id:', arrow4Id)
})

attachEvent('addArrow5Btn', 'click', () => {
  arrow5Id = board.addArrow({
    color: 'orange',
    end: 'f3',
    opacity: 100,
    size: 'large',
    start: 'g1'
  })
  console.log('added Arrow 5 with id:', arrow5Id)
})

attachEvent('removeArrow5Btn', 'click', () => {
  board.removeArrow(arrow5Id)
  console.log('remove Arrow 5 with id:', arrow5Id)
})

attachEvent('logArrowsBtn', 'click', () => {
  console.log('Arrows Array:')
  console.log(board.getArrows())

  console.log('Arrows Object:')
  console.log(board.getArrows('object'))

  console.log('Arrows Map:')
  console.log(board.getArrows('map'))

  console.log('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')
})

attachEvent('clearArrowsBtn', 'click', () => {
  board.clearArrows()
})
