===== id
3008

===== Name
Analysis Arrows

===== Description
TODO: write me :)

===== HTML
<div id="myBoard" style="width: 400px"></div>
<button id="addDefaultArrowBtn">Add Default Arrow</button>
<button id="addGreenArrowBtn">Add Arrow with Color</button>
<button id="moveArrowBtn">Move Arrow</button>
<button id="clearArrowsBtn">Clear Arrows</button>

===== JS
const board = Chessboard2('myBoard', 'start')
let arrow1 = null
let arrow2 = null

$('#addDefaultArrowBtn').on('click', function () {
  arrow1 = board.addArrow('e2-e4')
  // board.addArrow('e2', 'e4')
  // board.addArrow('e2-e4', '#ffee66', 'pulse')
  // board.addArrow('e2-e4', '#ffee66', 'flash')
  // board.addArrow({start: 'e2', end: 'e4', color: 'red', animate-in: 'pulse'})
})

$('#addGreenArrowBtn').on('click', function () {
  arrow2 = board.addArrow('c7-c5', 'orange')
})

$('#moveArrowBtn').on('click', function () {
  board.moveArrow(arrow1.id, 'd2-d4')
})

$('#clearArrowsBtn').on('click', board.clearArrows)
