===== id
3009-circles

===== Name
Circles

===== DescriptionMD
You can add circles to the board with the [.addCircle()] function.

Use the [.removeCircle()] and [.clearCircles()] functions to remove circles.

See the current circles on the board with the [.circles()] or [.getCircles()] functions.

[.addCircle()]:docs#methods:addCircle
[.removeCircle()]:docs#methods:removeCircle
[.clearCircles()]:docs#methods:clearCircles
[.circles()]:docs#methods:circles
[.getCircles()]:docs#methods:getCircles

===== HTML
<div id="myBoard" style="width:400px"></div>

<button id="addCircle1Btn">Default Circle at d4</button>
<button id="addCircle2Btn">Large, Orange Circle at e4</button>
<button id="addCircle3Btn">Small, Purple Circle at f3</button>
<br />
<button id="addCircle5Btn">Add Circle with Config Object</button>
<br />
<button id="removeCircleAtE4Btn">Remove Circle at e4</button>
<button id="removeCircle3Btn">Remove Circle using id</button>
<br />
<button id="logCirclesBtn">console.log Circles</button>
<button id="clearCirclesBtn">Clear Circles</button>

===== JS
const board = Chessboard2('myBoard', 'start')

let circle1Id = null
let circle2Id = null
let circle3Id = null
const circle4Id = null
let circle5Id = null

attachEvent('addCircle1Btn', 'click', () => {
  circle1Id = board.addCircle('d4')
  console.log('added Circle 1 with id:', circle1Id)
})

attachEvent('addCircle2Btn', 'click', () => {
  circle2Id = board.addCircle('e4', 'orange', 'large')
  console.log('added "small" Circle 2 with id:', circle2Id)
})

attachEvent('addCircle3Btn', 'click', () => {
  circle3Id = board.addCircle('f3', '#800080', 'small')
  console.log('added "small" Circle 3 with id:', circle3Id)
})

attachEvent('addCircle5Btn', 'click', () => {
  circle5Id = board.addCircle({
    color: 'orange',
    square: 'h1',
    opacity: 0.5,
    size: 1.2
  })
  console.log('added Circle 5 with id:', circle5Id)
})

attachEvent('removeCircleAtE4Btn', 'click', () => {
  // you can remove circles by the square they are on
  board.removeCircle('e4')
})

attachEvent('removeCircle3Btn', 'click', () => {
  // or you can remove using the circleId directly
  board.removeCircle(circle3Id)
})

attachEvent('logCirclesBtn', 'click', () => {
  console.log('Circles Array:')
  console.log(board.getCircles())

  console.log('Circles Object:')
  console.log(board.getCircles('object'))

  console.log('Circles Map:')
  console.log(board.getCircles('map'))

  console.log('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')
})

attachEvent('clearCirclesBtn', 'click', () => {
  board.clearCircles()
})
