===== id
3009

===== Name
Circles

===== Description
TODO: write me :)

===== HTML
<div id="myBoard"></div>
<button id="addCircle1Btn">Default Circle at d4</button>
<button id="addCircle2Btn">Large, Orange Circle at e4</button>
<button id="addCircle3Btn">Small, Purple Circle at e4</button>
<button id="addCircle4Btn">Add Circle 4</button>
<button id="addCircle5Btn">Add Circle with Config Object</button>
<br />
<button id="removeCircle1Btn">Remove Circle at e4</button>
<button id="removeCircle2Btn">Remove Circle 2</button>
<button id="logCirclesBtn">console.log Circles</button>
<button id="clearCirclesBtn">Clear Circles</button>

===== JS
const board = Chessboard2('myBoard', 'start')
let circle1Id = null
let circle2Id = null
let circle3Id = null
let circle4Id = null

attachEvent('addCircle1Btn', 'click', () => {
  circle1Id = board.addCircle('d4')
})

attachEvent('addCircle2Btn', 'click', () => {
  circle2Id = board.addCircle('e4', 'orange', 'large')
  // console.log('added "small" Circle 2 with id:', circle2Id)
})

attachEvent('addCircle3Btn', 'click', () => {
  circle3Id = board.addCircle('e4', 'purple', 'small')
})

attachEvent('addCircle4Btn', 'click', () => {
  circle4Id = board.addCircle('d5', '#8e8e8e', 'medium')
  // console.log('added "large" Circle 4 with id:', circle4Id)
})

attachEvent('addCircle5Btn', 'click', () => {
  circle5Id = board.addCircle({
    color: 'orange',
    square: 'h1',
    opacity: 0.5,
    size: 1.2
  })
  console.log('added Circle 5 with id:', circle5Id)
})

attachEvent('removeCircle1Btn', 'click', () => {
  // board.removeCircle('e4')

  // FIXME: make variadic work
  board.removeCircle('e4', 'e5', 'e6', 'e7')
})

attachEvent('removeCircle2Btn', 'click', () => {
  if (circle4Id) {
    board.removeCircle(circle4Id)
  }
})

attachEvent('logCirclesBtn', 'click', () => {
  console.log('Circles Array:')
  console.log(board.getCircles())

  console.log('Circles Object:')
  console.log(board.getCircles('object'))

  console.log('Circles Map:')
  console.log(board.getCircles('map'))

  console.log('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')
})

attachEvent('clearCirclesBtn', 'click', () => {
  board.clearCircles()
})
