===== id
3010

===== Name
Items

===== Description
TODO: write me :)

===== HTML
<div id="myBoard" style="width: 400px"></div>
<button id="itemsBtn1">.items()</button>
<button id="itemsBtn2">.getItems()</button>
<button id="itemsBtn3">Log Items</button>
<button id="flipBoardBtn">Flip Board</button>
<button id="clearArrowsBtn">Clear Arrows</button>
<button id="addArrowsBtn">Add Arrows</button>

===== JS
const board = Chessboard2('myBoard', 'start')

$('#addArrowsBtn').on('click', function () {
  board.addArrow('e2-e4')
  board.addArrow('c7-c5', 'small')
  board.addArrow('a3-c3', 'medium')
  board.addArrow('g1-f3')
  board.addArrow('g1-h3', 'large')
})

$('#itemsBtn1').on('click', function () {
  console.log(board.items())
})

$('#itemsBtn2').on('click', function () {
  console.log(board.getItems())
})

$('#itemsBtn3').on('click', function () {
  console.log('Items Array:')
  console.log(board.getItems())

  console.log('Items Object:')
  console.log(board.getItems('object'))

  console.log('Items Map:')
  console.log(board.getItems('map'))

  console.log('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')
})

$('#flipBoardBtn').on('click', board.flip)
$('#clearArrowsBtn').on('click', board.clearArrows)
