===== id
3012

===== Name
Coordinates

===== Description
FIXME: write this

Things are not looking great for White here.

NOTE: in chessboard v1, this was called "notation"

===== HTML
<div id="myBoard" style="width: 400px"></div>
<br />
<br />
<br />
<button id="showCoordinatesBtn">Show Coordinates</button>
<button id="hideCoordinatesBtn">Hide Coordinates</button>
<button id="toggleCoordinatesBtn">Toggle Coordinates</button>

===== JS
const board = Chessboard2('myBoard', {
  coords: {
    bottom: true,
    left: true,
    right: true,
    top: true
  },
  position: { e3: 'wK', d5: 'bK', c4: 'bR' }
})

attachEvent('showCoordinatesBtn', 'click', function () {
  board.showCoordinates()
})

attachEvent('hideCoordinatesBtn', 'click', function () {
  board.hideCoordinates()
})

attachEvent('toggleCoordinatesBtn', 'click', function () {
  board.toggleCoordinates()
})

// board.coordinates()
// board.coordinates('toggle')
// board.coordinates('hide')
// board.coordinates('show')
