===== id
4000-onchange

===== Name
onChange

===== DescriptionMD
The [onChange](docs.html#config:onChange) event fires when the board position changes.

===== HTML
<div id="myBoard" style="width: 400px"></div>

<button id="kingPawnEndgameBtn">King and Pawn Endgame</button>
<button id="startPositionBtn">Start Position</button>
<button id="clearBtn">Clear</button>

===== JS
const config = {
  draggable: true,
  position: 'start',
  onChange: logPositionChange
}
const board = Chessboard2('myBoard', config)

attachEvent('kingPawnEndgameBtn', 'click', function () {
  board.position({ e4: 'wK', d4: 'wP', d6: 'bK' })
})
attachEvent('startPositionBtn', 'click', board.start)
attachEvent('clearBtn', 'click', board.clear)

function logPositionChange (oldPos, newPos) {
  console.log('Old position:', oldPos)
  console.log('New position:', newPos)
  console.log('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')
}
