===== id
4001-ondragstart

===== Name
onDragStart

===== Description
The <a href="docs.html#config:onDragStart"><code class="js plain">onDragStart</code></a> event fires every time a piece is picked up.

===== HTML
<div id="myBoard" style="width: 400px"></div>

<button id="startBtn">Start Position</button>

===== JS
const config = {
  draggable: true,
  onDragStart: logDragStart,
  position: 'start'
}
const board = Chessboard2('myBoard', config)

attachEvent('startBtn', 'click', board.start)

function logDragStart (dragInfo) {
  console.log('Drag started:', dragInfo)
}
