===== id
4002-ondragstart-prevent-drag

===== Name
onDragStart Prevent Drag

===== Description
Prevent the drag action by returning <code class="js keyword">false</code> from the <a href="docs.html#config:onDragStart"><code class="js plain">onDragStart</code></a> function.

===== HTML
<div id="myBoard" style="width: 400px"></div>

<button id="flipOrientationBtn">Flip Orientation</button>
<button id="startBtn">Start Position</button>

===== JS
const config = {
  draggable: true,
  position: 'start',
  onDragStart
}
const board = Chessboard2('myBoard', config)

attachEvent('flipOrientationBtn', 'click', board.flip)
attachEvent('startBtn', 'click', board.start)

// only allow pieces to be dragged when the board is oriented in their direction
function onDragStart (dragInfo) {
  if (dragInfo.orientation === 'white' && !isWhitePiece(dragInfo.piece)) return false
  if (dragInfo.orientation === 'black' && !isBlackPiece(dragInfo.piece)) return false
}

function isWhitePiece (piece) { return /^w/.test(piece) }
function isBlackPiece (piece) { return /^b/.test(piece) }
