===== id
4006

===== Name
onDrop Remove

===== Description
If <code class="js string">'remove'</code> is returned from the <a href="docs.html#config:onDrop"><code class="js plain">onDrop</code></a> function, the dragged piece will be removed.

===== HTML
<div id="myBoard" style="width: 400px"></div>

===== JS
const config = {
  draggable: true,
  position: 'start',
  onDrop
}
const board = Chessboard2('myBoard', config)

function onDrop (dropEvt) {
  // remove black pieces when they are dropped
  if (isBlackPiece(dropEvt.piece)) return 'remove'
}

function isBlackPiece (piece) { return /^b/.test(piece) }
