===== id
5006-click-to-create-arrows

===== Name
Click to Create Arrows

===== DescriptionMD
Click on squares to create analysis arrows.

===== HTML
<div id="myBoard" style="width: 400px"></div>

<button id="clearArrowsBtn">Clear Arrows</button>
<button id="logArrowsBtn">console.log Arrows</button>

===== JS
let startingSquare = null

const board = window.Chessboard2('myBoard', {
  onMousedownSquare
})

function onMousedownSquare (evt, domEvt) {
  // clear any circles that may be on the board
  board.clearCircles()

  // do we have a pending arrow?
  if (startingSquare) {
    // add an arrow to the board
    board.addArrow({
      start: startingSquare,
      end: evt.square
    })
    // clear the startingSquare
    startingSquare = null
  } else {
    // store the pending arrow info
    startingSquare = evt.square

    // put a circle on the starting square
    board.addCircle(evt.square)
  }
}

attachEvent('clearArrowsBtn', 'click', () => {
  board.clearArrows()
})

attachEvent('logArrowsBtn', 'click', () => {
  console.log('Arrows:', board.getArrows())
})
