===== id
9001

===== Name
Move Pieces Test

===== DescriptionMD

This file exists for Cypress testing

===== HTML
<div id="myBoard" style="width: 400px"></div>

<section>
  <h1>test1: e2 - e4</h1>
  <button id="test1move1Btn">e2-e4</button>
  <div id="test1results"></div>
</section>

<hr />







<button id="move2Btn">d2-d4, g8-f6</button>
<button id="move3Btn">Move 3</button>
<button id="disableAnimationsBtn">Disable animations with 'false'</button>
<button id="moveWithCallbackBtn">.move() with callback function</button>
<button id="move6Btn">.move() with config object</button>
<button id="move7Btn">Move 7</button>
<button id="move8Btn">Move 8</button>
<button id="move9Btn">Move 9</button>
<button id="move10Btn">Combine Instant and Animated Moves</button>
<button id="startPositionBtn">Start Position</button>

===== JS
const board1 = Chessboard2('myBoard', 'start')
window.board1 = board1

function appendHtml (id, html) {
  const el = document.getElementById(id)
  el.innerHTML = el.innerHTML + html
}

// -----------------------------------------------------------------------------
// Test 1

$('#test1move1Btn').on('click', function () {
  window.test1move = board1.move('e2-e4', () => {
    appendHtml('test1results', '<div id=test1move1finished>test1move1finished</div>')
  })
})












$('#move1Btn').on('click', function () {
  window.board1.move('e2-e4')
})

$('#move2Btn').on('click', function () {
  // pass multiple moves as arguments
  window.board1.move('d2-d4', 'g8-f6')
})

$('#move3Btn').on('click', function () {
  window.board1.move('c7-c5', 'slow')
  window.board1.move('b7-b2', 5000)
})

$('#disableAnimationsBtn').on('click', function () {
  // pass in false to disable animations
  window.board1.move('d7-d5', false)
})

$('#moveWithCallbackBtn').on('click', function () {
  // pass a callback function that will fire when the animation of the move is complete
  window.board1.move('g1-f3', function (move) {
    console.log('Animation finished for g1-f3:')
    console.log(move)
  })
})

$('#move6Btn').on('click', function () {
  // pass a config object
  window.board1.move({
    animate: true,
    animateSpeed: 1000,
    from: 'g2',
    onComplete: (m) => { console.log('Move complete:', m) },
    to: 'g4'
  })
})

$('#move7Btn').on('click', function () {
  // move() returns a Promise object that fires when the animation has completed
  window.board1.move('h2-h4').then((move) => {
    console.log('Animation has completed. Here is information about the move:')
    console.log(move)
  })
})

$('#move8Btn').on('click', function () {
  // multiple moves will return an Array of Promises
  Promise.all(window.board1.move('h2-h4', 'h1-h3')).then((moves) => {
    console.log('Animations are complete:')
    console.log(moves)
  })
})

$('#move9Btn').on('click', function () {
  // the Promise object will reject if the move is invalid / not possible
  window.board1.move('g6-f6').then((move) => {
    console.log('Animation has completed. Here is information about the move:')
    console.log(move)
  }).catch((err) => {
    console.log('Invalid move:')
    console.log(err)
  })
})

$('#move10Btn').on('click', function () {
  // you may combine instant and animated moves in the same .move() call
  window.board1.move({
    animate: true,
    animateSpeed: 'superslow',
    from: 'g7',
    to: 'g4'
  },
  {
    animate: false,
    from: 'f7',
    to: 'f4'
  })
})

$('#startPositionBtn').on('click', window.board1.start)
