===== id
9001

===== Name
Move Pieces Test

===== DescriptionMD

This file exists for Cypress testing

===== HTML
<div id="myBoard" style="width: 400px"></div>

<section>
  <h1>test1: e2 - e4</h1>
  <button id="test1move1Btn">e2-e4</button>
  <div id="test1results"></div>
</section>

<hr />

<section>
  <h1>test2: multiple moves</h1>
  <button id="test2move1Btn">step1</button>
  <div id="test2results"></div>
</section>

<hr />

===== JS
const board1 = Chessboard2('myBoard', 'start')
window.board1 = board1

function appendHtml (id, html) {
  const el = document.getElementById(id)
  el.innerHTML = el.innerHTML + html
}

// -----------------------------------------------------------------------------
// Test 1

$('#test1move1Btn').on('click', function () {
  window.test1move = board1.move('e2-e4', () => {
    appendHtml('test1results', '<div id=test1move1finished>test1move1finished</div>')
  })
})

// -----------------------------------------------------------------------------
// Test 2

$('#test2move1Btn').on('click', function () {
  window.test2move1 = board1.move('a2-a4', 500, () => {
    appendHtml('test2results', '<div id=test2move1finished>test2move1finished</div>')
  })
  window.test2move2 = board1.move('b2-b4', 1000, () => {
    appendHtml('test2results', '<div id=test2move2finished>test2move2finished</div>')
  })
})
