===== id
9001

===== Name
Move Pieces Test

===== DescriptionMD
This file exists for Cypress testing

===== HTML
<div id="myBoard" style="width: 300px"></div>

<br />

<button id="test1StartBtn">Start Test 1</button>
<button id="test2StartBtn">Start Test 2</button>
<button id="test3StartBtn">Start Test 3</button>
<button id="test4StartBtn">Start Test 4</button>
<button id="test5StartBtn">Start Test 5</button>

<hr />

<section id="test1Container" style="display:none">
  <h1>test1: e2 - e4</h1>
  <button id="test1move1Btn">e2-e4</button>
  <div id="test1results"></div>
</section>

<section id="test2Container" style="display:none">
  <h1>test2: multiple moves</h1>
  <button id="test2move1Btn">step1</button>
  <div id="test2results"></div>
</section>

<section id="test3Container" style="display:none">
  <h1>test3: set position callback</h1>
  <button id="test3step1Btn">step1</button>
  <div id="test3results"></div>
</section>

<section id="test4Container" style="display:none">
  <h1>test4: set position promise</h1>
  <button id="test4step1Btn">step1</button>
  <div id="test4results"></div>
</section>

<section id="test5Container" style="display:none">
  <h1>test5: orientation</h1>
  <button id="test5step1Btn">step1: add arrows</button>
  <button id="test5step2Btn">step2: add circles</button>
  <button id="test5step3Btn">step3: flip board</button>
  <button id="test5step4Btn">step4: remove some items</button>
  <div id="test5results"></div>
</section>

===== JS
const board1 = Chessboard2('myBoard', 'start')
window.board1 = board1

function byId (id) {
  return document.getElementById(id)
}

function appendHtml (id, html) {
  const el = byId(id)
  el.innerHTML = el.innerHTML + html
}

function hideEl (id) {
  byId(id).style.display = 'none'
}

function hideAllSections () {
  hideEl("test1Container")
  hideEl("test2Container")
  hideEl("test3Container")
  hideEl("test4Container")
  hideEl("test5Container")
}

function showSection (id) {
  byId(id).style.display = ''
}

attachEvent("test1StartBtn", 'click', () => { hideAllSections(); showSection("test1Container"); })
attachEvent("test2StartBtn", 'click', () => { hideAllSections(); showSection("test2Container"); })
attachEvent("test3StartBtn", 'click', () => { hideAllSections(); showSection("test3Container"); })
attachEvent("test4StartBtn", 'click', () => { hideAllSections(); showSection("test4Container"); })
attachEvent("test5StartBtn", 'click', () => { hideAllSections(); showSection("test5Container"); })

// -----------------------------------------------------------------------------
// Test 1

attachEvent('test1move1Btn', 'click', () => {
  window.test1move = board1.move('e2-e4', () => {
    appendHtml('test1results', '<div id=test1move1finished>test1move1finished</div>')
  })
})

// -----------------------------------------------------------------------------
// Test 2

attachEvent('test2move1Btn', 'click', () => {
  window.test2move1 = board1.move('a2-a4', 500, () => {
    appendHtml('test2results', '<div id=test2move1finished>test2move1finished</div>')
  })
  window.test2move2 = board1.move('b2-b4', 1000, () => {
    appendHtml('test2results', '<div id=test2move2finished>test2move2finished</div>')
  })
})

// -----------------------------------------------------------------------------
// Test 3

attachEvent('test3step1Btn', 'click', () => {
  window.test3step1 = board1.position('8/8/rnbqkbnr/pppppppp/PPPPPPPP/1NBQKBNR/8/8', 500, () => {
    appendHtml('test3results', '<div id=test3step1finished>test3step1finished</div>')
  })
})

// -----------------------------------------------------------------------------
// Test 4

attachEvent('test4step1Btn', 'click', async () => {
  const result = await board1.position('8/8/8/3pk3/8/4K3/8/8')
  appendHtml('test4results', '<pre id=test4step1finished>' + JSON.stringify(result) + '</pre>')
})

// -----------------------------------------------------------------------------
// Test 5

attachEvent('test5step1Btn', 'click', () => {
  board1.addArrow('a2-a3', '#ffee66', 'small')
  board1.addArrow('b2-b4', '#66eeff', 'medium')
  board1.addArrow('c2-c5')
})

attachEvent('test5step2Btn', 'click', () => {
  board1.addCircle('e4', 'purple', 'small')
  board1.addCircle('f4', 'red', 'medium')
  board1.addCircle('g4', 'orange', 'large')
})

attachEvent('test5step3Btn', 'click', () => {
  board1.flip()
})

attachEvent('test5step4Btn', 'click', () => {
  board1.removeArrow('b2-b4')
  board1.removeCircle('g4')
})
