<!doctype html>
<html>
{{{head}}}
<body>
{{{header}}}

<main>
<div class="body-width-115f6 page-529b3">

<section>
    <h1 class="title-5ad05">Download</h1>

    <!-- <section>
        <h2>Latest</h2>
        <a class="blue-button large" href="releases/chessboardjs-1.0.0.zip">Download Latest Version<br /><small>v1.0.0</small></a>
    </section> -->


    <section>
        <h2>NPM / Yarn Package</h2>
        <p>chessboard2 is on <a href="https://www.npmjs.com/">npm</a> under the name <a href="https://www.npmjs.com/package/@chrisoakman/chessboard2">@chrisoakman/chessboard2</a></p>
        <pre><code class="language-bash"># using npm
npm install @chrisoakman/chessboard2</code></pre>

<pre><code class="language-bash"># using yarn
yarn add @chrisoakman/chessboard2</code></pre>
    </section>

    <section>
        <h2>Content Delivery Network</h2>
        <p>You can use chessboard2 via the <a href="https://unpkg.com/">unpkg CDN</a> with the following links:
        <pre><code class="language-html">&lt;link rel="stylesheet"
      href="{{cssCDNUrl}}"
      integrity="{{cssCDNIntegrity}}"
      crossorigin="anonymous"&gt;</code></pre>
        <pre><code class="language-html">&lt;script src="{{jsCDNUrl}}"
        integrity="{{jsCDNIntegrity}}"
        crossorigin="anonymous"&gt;&lt;/script&gt;</code></pre>
    </section>

    <section>
        <h2>Development</h2>
        <p><a href="https://github.com/oakmac/chessboard2/">GitHub</a></p>
    </section>

</section>

</div>
</main>

{{{footer}}}

<script src="https://unpkg.com/@highlightjs/cdn-assets@11.6.0/highlight.min.js" integrity="sha384-y998j0w+cOeHjdSNGsL3hnvm+lFlNBHvX+s7DRUlDNd6haj2ucIwtOrdX4nSMewo" crossorigin="anonymous"></script>
<script>window.hljs.highlightAll()</script>
</body>
</html>
