<!doctype html>
<html>
{{{head}}}
<body class="homepage">

<div class="hero-wrapper">
    <div class="body-width-115f6 hero-inner-556fe">
        <img src="img/chesspieces/wikipedia/bK.svg" alt="Black King" />
        <h1>chessboard2</h1>
        <h3>The easiest way to embed a chess board on your site.</h3>
        <a href="releases/chessboardjs-1.0.0.zip">Download v1.0.0</a>
    </div>
</div>

<nav id="start" class="homepage-nav-b9ecc">
    <div class="body-width-115f6 navbar-a57cc hover-effect">
        <a href="#start"><span class="piece">&#9823;</span> Getting Started</a>
        <a href="examples"><span class="piece">&#9819;</span> Examples</a>
        <a href="docs"><span class="piece">&#9820;</span> Documentation</a>
        <a href="download"><span class="piece">&#9822;</span> Download</a>
    </div>
</nav>

<main>

<section class="body-width-115f6">
    <h2>As easy as two lines.</h2>
    <div style="display: flex; flex-direction: row;">
        <div style="flex: 1;">
            <h4>HTML</h4>
            <pre><code class="language-html">&lt;div id="board1"&gt;&lt;/div&gt;</code></pre>
            <h4>JavaScript</h4>
            <pre><code class="language-javascript">const board1 = Chessboard2('board1', 'start')</code></pre>
        </div>
        <div style="padding: 20px 40px;">
            <div id="board1" style="width: 400px"></div>
        </div>
    </div>
</section>

<section class="body-width-115f6">
    <h2>Customize with a powerful API.</h2>
    <div style="display: flex; flex-direction: row;">
        <div style="flex: 1;">
            <h4>HTML</h4>
            <pre><code class="language-html">&lt;div id="board2"&gt;&lt;/div&gt;</code></pre>
            <h4>JavaScript</h4>
            <pre><code class="language-javascript">{{{example2JS}}}</code></pre>
        </div>
        <div style="padding: 20px 40px;">
            <div id="board2" style="width: 400px"></div>
        </div>
    </div>
</section>

</main>

{{{footer}}}

<script src="https://unpkg.com/@highlightjs/cdn-assets@11.6.0/highlight.min.js" integrity="sha384-y998j0w+cOeHjdSNGsL3hnvm+lFlNBHvX+s7DRUlDNd6haj2ucIwtOrdX4nSMewo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.12.1/chess.js" integrity="sha384-8sJV/krC8iV2g7t0PolQxFVckDtxhfM5gNHNAFPG2ZS/bScudOjfsB8ewhG2xle8" crossorigin="anonymous"></script>
{{{jsScript}}}
<script>
function attachEvent (selectorOrId, eventType, fn) {
  const el1 = document.getElementById(selectorOrId)
  if (el1) { el1.addEventListener(eventType, fn); return }

  const el2 = document.querySelector(selectorOrId)
  if (el2) { el2.addEventListener(eventType, fn); return }

  console.warn('Unable to attachEvent to element:', selectorOrId)
}

;(function () {
  function init () {
    window.hljs.highlightAll()

    // example 1
    const board1 = Chessboard2('board1', 'start')

    // example 2
    {{{example2JS}}}
  }

  window.addEventListener('load', init)
})()
</script>
</body>
</html>
