<!doctype html>
<html>
<head>
   <meta http-equiv="refresh" content="0; url=https://github.com/oakmac/chessboard2/blob/master/LICENSE.md">
</head>
<body>
    <a href="https://github.com/oakmac/chessboard2/blob/master/LICENSE.md">chessboard2 ISC license</a>
</body>
</html>
