<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>chessboard2 Example #{{{id}}} - {{{name}}}</title>
  <base href="../" />
  {{{cssLink}}}
  {{#css}}
  <style type="text/css">
  {{{css}}}
  </style>
  {{/css}}
</head>
<body>
<p><a href="examples#{{{id}}}">&larr; Back to all examples.</a></p>

<p>{{{description}}}</p>

<!--- Begin Example HTML ------------------------------------------------------>
{{{html}}}
<!--- End Example HTML -------------------------------------------------------->

{{{jsScript}}}
{{#includeChessJS}}
<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.13.4/chess.js" integrity="sha384-L0SnMpUnYUX6GNzeu549NqRJHDc9gljfSbFwmJFLZRNJiKLrLI+W9Cpw/DgHy5Vu" crossorigin="anonymous"></script>
-->
{{/includeChessJS}}
<script>
function attachEvent (selectorOrId, eventType, fn) {
  const el1 = document.getElementById(selectorOrId)
  if (el1) { el1.addEventListener(eventType, fn); return }

  const el2 = document.querySelector(selectorOrId)
  if (el2) { el2.addEventListener(eventType, fn); return }

  console.warn('Unable to attachEvent to element:', selectorOrId)
}

// --- Begin Example JS --------------------------------------------------------
{{{js}}}
// --- End Example JS ----------------------------------------------------------
</script>
</body>
</html>
