.chessboard-21da3 {

}

.items-container-c9182 {
  position: relative;
}

.board-container-41a68 {
  border: 2px solid black;
  /* box-sizing: border-box; */
}

.squares-2dea6 {
  display: flex;
  flex-direction: column;
}

.rank-98fa8 {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.square-4b72b {
  flex: 1;
}

.white-3b784 {
  background-color: #f0d9b5;
  color: #b58863;
}

.black-b7cb6 {
  background-color: #b58863;
  color: #f0d9b5;
}

.piece-349f8 {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  opacity: 100%;
  position: absolute;

  /* transition: left 1s, top 1s, opacity 1s; */
  /* transition: all 1s; */
}

.piece-349f8.hidden-20b44 {
  opacity: 0;
  /* transition: all 1s; */
}
